body {
    margin-bottom: 60px;
    color: #1e055a;
}
.page-header {
    margin-top: 0;
}

.panel-body {
    padding-top: 0;
}

.featuredImg {
    margin-bottom: 15px;
}
h1 .btn {
    font-size:30px;
}
#contact_form {
    margin:5px;
}
.article_image {
    float: left;
    margin-right: 25px;
}

a {
    color: #2e1693;
}
.text_link {
    color: #179342;
    text-decoration: underline;
    font-weight: bold;
}

.highlightedQuote {
    background-color: Cornsilk;
    font-style: italic;
}